<div class="row">
  <div class="col-12 text-end">
    <button (click)="addProject()" type="button" class="btn btn-link">Add Project</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Date Created</th>
          <th scope="col">Archived</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectList">
          <th scope="row">{{ project?.id}}</th>
          <td>{{ project?.name}}</td>
          <td>{{ project?.status}}</td>
          <td>{{ project?.localDateTime| date:'short'}}</td>
          <td>{{ project?.archived}}</td>
          <td><button (click)="editProject(project?.id)" type="button" class="btn btn-link">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-confirm-dialog></app-confirm-dialog>
