<div class="row">
  <div class="col-12 text-end">
    <button [routerLink]="['']" routerLinkActive="router-link-active"  type="button" class="btn btn-link">Project List</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card m-1">
      <div class="card-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="col-5 mb-1">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" />
            <div *ngIf="addForm.controls.name.touched && addForm.controls.name?.errors"
              class="invalid-feedback d-block">
              <div *ngIf="addForm.controls.name?.errors?.required">
                Please enter name.
              </div>
            </div>
          </div>
          <div class="col-5 mb-1">
            <label>Title</label>
            <select formControlName="status" class="form-control">
              <option value="">--Select--</option>
              <option value="IN_PROGRESS">In Progress</option>
              <option value="FINISHED">Finished</option>
            </select>
            <div *ngIf="addForm.controls.status.touched && addForm.controls.status?.errors"
              class="invalid-feedback d-block">
              <div *ngIf="addForm.controls.status?.errors?.required">
                Please select status.
              </div>
            </div>
          </div>
          <div class="text-right col-5 mb-1">
            <button class="btn btn-primary">Add Project</button>
            <button class="btn btn-secondary ms-1" [routerLink]="['']" routerLinkActive="router-link-active" >Cancel</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
